CONTAINER_NAME=ctr-truenas-zbx
IPV4_TRUENAS_ZBX=172.18.0.12

VOL_BUILD_CONTEXT=./ctr-truenas-zbx/app
VOL_LOGS=./ctr-truenas-zbx/logs:/logs
VOL_TZ=/etc/timezone:/etc/timezone:ro
VOL_LOCALTIME=/etc/localtime:/etc/localtime:ro

SUBNET=172.18.0.0/16

TRUENAS_HOST=192.168.0.21
TRUENAS_API_KEY=YOUR_TRUENAS_API_KEY
ZABBIX_SERVER=192.168.0.20
TRUENAS_WS_PATH=/api/current
TRUENAS_VERIFY_SSL=false

ZABBIX_SERVER=192.168.0.20
ZABBIX_PORT=10051
ZABBIX_HOST=vm-truenas
ZABBIX_KEY=truenas.raw
COLLECT_INTERVAL=120