# TrueNAS websocket API / Zabbix collector variables
TRUENAS_HOST=192.168.0.21
TRUENAS_API_KEY=YOUR_TRUENAS_API_KEY
TRUENAS_WS_PATH=/api/current
TRUENAS_VERIFY_SSL=true

ZABBIX_SERVER=192.168.0.20
ZABBIX_PORT=10051
ZABBIX_HOST=truenas-host-name
ZABBIX_KEY=truenas.raw

COLLECT_INTERVAL=300

# Optional volume mounts handled by docker-compose
# VOL_APP=/bskp/ctr-truenas-zbx/app:/app
# VOL_LOGS=/bskp/ctr-truenas-zbx/logs:/logs
# VOL_TZ=/etc/timezone:/etc/timezone:ro
# VOL_LOCALTIME=/etc/localtime:/etc/localtime:ro
# IPV4_TRUENAS_ZBX=172.18.0.12
# SUBNET=172.18.0.0/16
